.show-ctn {
    background-color: black;
    height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 3%;
}

.show {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 45%;
    width: 15%;
    border: 1px solid white;
    border-radius: 10px;
    color: white;
    margin: 1.5%;
    cursor: pointer;
    transition: transform .2s ease-in-out;
    position: relative;
}

.show:hover {
    transform: scale(1.2);
    z-index: 10;
}

.show-link {
    text-decoration: none;
    text-align: center;
    color: white;
    transition: color .2s ease-in-out;
}

.show-link:hover {
    color: orangered;
    text-shadow: 1px 0px 1px white;
}

.bookmark {
    font-size: 200%;
}