.show-ctn {
    background-color: black;
    height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 3%;
}

.show {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 45%;
    width: 15%;
    border: 1px solid white;
    color: white;
    margin: 1.5%;
    cursor: pointer;
    transition: transform .2s ease-in-out;
    position: relative;
}

.show:hover {
    transform: scale(1.2);
    z-index: 10;
}